.List {
  position: fixed;
  top: 0;
  left: 20%;
  background-color: black;
  height: 15vh;
  width: 50%;
  border-radius: 15px;
  transition: all 2s ease-in;
  display:flex;
  align-items: center;

  .menu-item {
    position: absolute;
    width: 100%;

    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
    }

    li {
      color: white;
      cursor: pointer;
      font-size:20px;
      text-transform: uppercase;
      &:hover{
        color:gray;
        transition: 600ms ease-in
      }
    }
  .closeMenu{
 cursor: pointer;

     
    }
    span{
      position:absolute;
     
      top:5px;
      width: 50px;
      height:3px;
      left:5px;
      background-color: white;
     
      &:nth-child(2){
        transform:  translateY(-10px);
       
      }
    }
  }
}
