.List {
  position: fixed;
  top: 0;
  left: 20%;
  background-color: black;
  height: 15vh;
  width: 50%;
  border-radius: 15px;
  transition: all 2s ease-in;
  display: flex;
  align-items: center;

  .menu-item {
    position: absolute;
    width: 100%;

    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
    
    }

    li {
      color: white;
      cursor: pointer;
      font-size: 20px;
      text-transform: uppercase;
      
     
      &:hover {
        color: gray;
        transition: 600ms ease-in;
      }
    }
    .closeMenu {
      cursor: pointer;
    }
    .menuClose {
      position: absolute;
      top: 10px;
      padding: 20px;

      cursor: pointer;
      &:hover{
        
        span{
          transition: transform 600ms ease-in-out;
          &:nth-child(2) {
            transform: rotate(40deg);
           
          }
          &:nth-child(1) {
            transform: rotate(680deg);
           
          }
        }
      }
    
    }
    span {
      position: absolute;

      top: 5px;
      width: 50px;
      height: 5px;
      left: 5px;

      background-color: white;
      transition: transform 1s ease;

      &:nth-child(2) {
        transform: translateY(-10px);
       
      }
    }
  }
}
