.container {
  position: fixed;
  top: 0;
  color: black;
  .menu {
    display: flex;
    cursor: pointer;

    span {
      position: absolute;
      top: 15px;
      left: 100px;
      width: 60px;
      height: 5px;
      background-color: black;
      cursor: pointer;
      &:nth-child(2) {
        transform: translateY(10px);
        width: 15px;
        transition: 1s ease-in;
        
        
      }
      &:nth-child(3) {
        transform: translateY(20px);
      }
    }

    &:hover {
      span {
        &:nth-child(2) {
          width: 60px;
          width: 60px;
          transition: 1s ease-in;
        }
      }
    }
  }
}
