@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap');

.FormContact{
    position: absolute;
    top:20%;  
    right :5px;
    height: 50%;
    width: 50%;
    background-color:black ;
    border-radius: 15px;
    opacity: 0.5;
    text-align: center;
    z-index: 5;
    
    
    .Form{
        font-family: 'Zen Kaku Gothic New', sans-serif;
        
        .desc{
            text-align: center;
            color:white;
            display: flex;
            flex-direction: column;
           
            p{
                margin-top: 12px;
                max-width: 400px;
            }
           
        }
       
    }
  button{
    margin-top: 12px;
    padding:10px;
    cursor: pointer;
    &:hover{
        background-color: black;
        color:white;
    }
  } 
   
}