

.desc-homepage {
  position: absolute;
  top: 20%;
  right: 100px;
  max-width: 600px;
  line-height: 1.8;
 
  h1 {
    text-align: center;
    margin-bottom: 12px;
  }

  #quote {
    font-size: 18px;
    line-height: 1.8;
    color: #272626;
  }
}
